*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body {
    background-color: rgb(234, 237, 237);
    font-family: 'Amazon Ember', sans-serif;
}

input {
    border: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 100%;
}